<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/zstu.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>浙江理工大学</strong>
                        <span>2013 - 2017 | 计算机科学与技术</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>学习计算机专业基础知识，并获得国家励志奖学金3次，一等奖学金2次，信息学院三好学生、优秀团员。
                        </p>
                        <p>作为班级团支书，多次组织班级活动。
                        </p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
			<div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/ruc.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>中国人民大学</strong>
                        <span>2017 - 至今 | 软件工程</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>学习计算机专业基础知识，带领团队完成实验室“企业知识图谱”重大项目，。
                        </p>
                        <p>研究生期间研究方向主要为自然语言处理、数据挖掘、量化分析
                        </p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->