<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2017-05T2017-10">
                        <span>May <strong class="text-upper">2018</strong> - Oct <strong>2017</strong></span>
                    </time>
                    <h3>WEB工程师（实习）</h3>
                    <span class="education-company">软件开发中心 | 完美世界</span>
                    <p>利用Python挖掘服务器日志数据</p>
                    <p>搭建日志可视化分析平台</p>
                    <p>参与部分需求调研</p>
                    <p>。。。</p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2018-05TNow">
						<span>May <strong class="text-upper">2018</strong> - <strong>Now</strong></span>
                    </time>
                    <h3>自然预言处理实习生</h3>
                    <span class="education-company">智能问答系统 | 搜狐畅游</span>
                    <p>使用技术为Python、TensorFlow、Keras、Pytorch等等</p>
                    <p>负责自然语言处理基础组件构建、QA系统算法实现以及研究</p>
                    <p>参与学术研究与探讨，将深度学习落地实际项目</p>
                    <p>。。。</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->